<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/cadastroStyle.css"> 
    <%# Não é necessario colocar a pasta 'public' no caminho do css pois o express automaticamente vai procurar um arquico css dentro de uma pasta public' %>
</head>
<body>
    
    <div class="container">

        <h1>Cadastre-se</h1>

        <div>

            <% if(error.length > 0) { %>
            <% error.forEach( msg => { %>    
                <h3 class="error"><%= msg %></h3>
            <% }) %>
            <% } %>
    
            <form action="/register" method="post">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Senha">
                <input type="password" name="confirmPassword" placeholder="Confirmar Senha">
                <input type="tel" name="telefone" placeholder="Telefone - (xx) xxxxx-xxxx">
                <input class="btn" type="submit" value="cadastrar" name="">
            </form>
    
        </div>    

    </div>

</body>
</html>