<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/indexStyle.css"> 
    <%# Não é necessario colocar a pasta 'public' no caminho do css pois o express automaticamente vai procurar um arquico css dentro de uma pasta public' %>
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <h1>Fazer Login</h1>

        <% if(error.length > 0) { %>
        <% error.forEach( err => { %>
                <h3 class="error"><%= err %></h3>
        <% }) %>
        <% } else if(success.length > 0){ %>
            <h3 class="success"><%= success %></h3>
        <% } %>

        <div>
    
            <form action="/" method="POST">
                <input type="email" name="email" id="" placeholder="Email">
                <input type="password" name="password" id="" placeholder="Senha">
                <input class="btn" type="submit" value="Fazer login" name="" id=""> <span>Ou</span><br>
                <a href="/register">Clique aqui para se cadastrar</a>
            </form>
    

    
        </div>

    </div>

</body>
</html>